.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // padding: 2rem 0rem 0rem;
  height: 5rem;
  position: fixed;
  width: 100%;
  background-color: #D0E5FF;
  z-index: 50;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 5;
}

.logo img {
  // height: 60px;
}

.nav-menu {
  display: flex;
  list-style: none;
  margin-right: 2rem;
}

.nav-item {
  margin-left: 2rem;
}

.nav-link {
  color: #4B4B4B;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  border-bottom: 2px solid #D0E5FF;
}

// .nav-link:hover {
//   color: #2A6DBD;
// }
.nav-link.active {
  color: #2A6DBD; 
  background-color: transparent;/* Set your desired color for the active link */
  border-bottom: 2px solid #2A6DBD;
}


/* Responsive styles */
.menu-icon {
  display: none;
  font-size: 1.8rem;
  color: #fff;
  cursor: pointer;
}

/* Extra large screens (desktops) */
@media (min-width: 1024px) {
  .nav-menu {
    display: flex;
  }
}

/* Small screens (mobile) */
@media (max-width: 1024px) {
  .nav-menu {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    /* height: calc(100vh - 80px); */
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .nav-menu.active {
    display: flex;
  }

  .nav-item {
    margin: 1.5rem 0;
  }

  .menu-icon {
    display: block;
  }
}
